:root {
    --bgColor: #223344;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --font: 'Karla', sans-serif;
    --delay: .1s;
}

body {
    background-color: rgb(109, 109, 109);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("assets/wow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #23272ade;
    padding: 15px;
    border-radius: 17px;
    margin: 10px;
    width: 12%;
}

.container img {
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.wrapper {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    font-size: 18px;
    font-weight: 550;
}

.wrapper .status {
    font-size: 14px;
    color: #a8a8a8;
}

.image-container {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.image-container img {
    display: block;
}

.image-container .circle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;

    overflow: hidden;
    background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear var(--delay) infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.fa-brands, .fa-solid {
    font-size: 25px;
}

@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

